<div class="product-form-reassurance" style="--background-color: {{ block.settings.background_color }}">
    {% for i in (1..3) %}
        <div class="product-form-reassurance__item">
            {% assign image_key = 'image-' | append: i %}
            {% assign heading_key = 'heading-' | append: i %}
            {% assign text_key = 'text-' | append: i %}
            
            {% if block.settings[image_key] != blank %}
                {{ block.settings[image_key] | image_url: height: 30 | image_tag: class: 'product-form-reassurance__item-icon' }}
            {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'product-form-reassurance__item-icon' }}
            {% endif %}
            
            <div class="product-form-reassurance__item-content">
                <div class="product-form-reassurance__item-title">{{ block.settings[heading_key] }}</div>
                <div class="product-form-reassurance__item-text">{{ block.settings[text_key] }}</div>
            </div>
        </div>
    {% endfor %}
</div>

{% stylesheet %}
  .product-form-reassurance {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 20px 10px;
    background-color: var(--background-color);
    border-radius: 12px;
  }
  .product-form-reassurance__item {
    display: flex;
    gap: 10px;
    flex: 1;
  }
  .product-form-reassurance__item:not(:last-child) {
    border-right: 1px solid #DFDFDF;
  }
  .product-form-reassurance__item-icon {
    height: 15px;
    width: auto;
  }
  .product-form-reassurance__item-content {
    font-size: 11px;
    line-height: 1.2;
  }
  .product-form-reassurance__item-title {
    font-weight: 600;
  }

  @media (width < 768px) {
    .product-form-reassurance {
        flex-direction: column;
        gap: 13px;
    }
    .product-form-reassurance__item:not(:last-child) {
        border-right: none;
    }
  }
{% endstylesheet %}