<div class="reassurance-quality__container" style="--background-color: {{ section.settings.background_color }}">
    <div class="reassurance-quality__header">
        <div class="reassurance-quality__title">{{ section.settings.title }}</div>
    </div>
    <div class="reassurance-quality__content">
        {% for block in section.blocks %}
        <div class="reassurance-quality__content-item" style="--background-color: {{ section.settings.item_background_color }}">
            {% if block.settings.icon != blank %}
                {{ block.settings.icon | image_url: width: 90 | image_tag: class: 'reassurance-quality__content-item-icon' }}
            {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'reassurance-quality__content-item-icon' }}
            {% endif %}
            <div class="reassurance-quality__content-item-text">{{ block.settings.text }}</div>
        </div>
        {% endfor %}
    </div>
</div>

{% stylesheet %}
    .reassurance-quality__container {
        padding: 40px 50px;
        background-color: var(--background-color);
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    .reassurance-quality__header {
        align-self: start;
        font-size: 36px;
    }
    .reassurance-quality__header p {
        margin: 0 auto;
    }
    .reassurance-quality__content {
        width: 100%;
        max-width: 800px;
        display: flex;
        gap: 10px;
        container-type: inline-size;
    }
    .reassurance-quality__content-item {
        padding: 12px;
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-radius: 6px;
        flex: 1 1 0;
        text-align: center;
    }
    .reassurance-quality__content-item-icon {
        width: 45px;
        height: 45px;
    }
    @media (width < 1100px) {
        .reassurance-quality__header {
            font-size: 28px;
        }
    }
    @media (width < 768px) {
        .reassurance-quality__container {
            flex-direction: column;
            padding: 30px 16px;
            gap:30px;
        }
        .reassurance-quality__header {
            font-size: 22px;
        }
        .reassurance-quality__content {
            overflow-x: scroll;
        }
        .reassurance-quality__content-item {
            min-width: 160px;
        }
    }
    /* Supress containerpadding right on mobile */
    @media (width < 532px) {
        .reassurance-quality__container {
          padding-right: 0;
        }
        .reassurance-quality__content:last-child {
          padding-right: 16px;
        }
    } 
{% endstylesheet %}

{% schema %}
{
  "name": "Quality Reassurance",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Couleur de fond"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Titre"
    },
    {
      "type": "color",
      "id": "item_background_color",
      "label": "Couleur de fond de l'item"
    },
    {
      "type": "color",
      "id": "item_text_color",
      "label": "Couleur de texte de l'item"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icône"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Texte"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Quality Reassurance"
    }
  ]
}
{% endschema %}