<div class="reassurance-quality__container" style="--background-color: {{ section.settings.background_color }}">
    <div class="reassurance-quality__header">
        <h2 class="reassurance-quality__title">{{ section.settings.title }}</h2>
    </div>
    <div class="reassurance-quality__content">
        {% for block in section.blocks %}
        <div class="reassurance-quality__content-item" style="--background-color: {{ section.settings.item_background_color }}">
            {{ block.settings.icon | image_url: width: 90 | image_tag: class: 'reassurance-quality__content-item-icon' }}
            <div class="reassurance-quality__content-item-text">{{ block.settings.text }}</div>
        </div>
        {% endfor %}
    </div>
</div>

{% stylesheet %}
    .reassurance-quality__container {
        padding: 40px 50px;
        background-color: var(--background-color);
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }
    .reassurance-quality__header {
        align-self: start;
    }
    .reassurance-quality__content {
        width: 100%;
        max-width: 800px;
        display: flex;
        gap: 10px;
    }
    .reassurance-quality__content-item {
        padding: 12px;
        background-color: var(--background-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
        border-radius: 6px;
        flex: 1 1 0;
    }
    .reassurance-quality__content-item-icon {
        width: 45px;
        height: 45px;
    }
{% endstylesheet %}

{% schema %}
{
  "name": "Quality Reassurance",
  "settings": [
    {
      "type": "color",
      "id": "background_color",
      "label": "Couleur de fond"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Titre"
    },
    {
      "type": "color",
      "id": "item_background_color",
      "label": "Couleur de fond de l'item"
    },
    {
      "type": "color",
      "id": "item_text_color",
      "label": "Couleur de texte de l'item"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icône"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Texte"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Quality Reassurance"
    }
  ]
}
{% endschema %}